body {
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

#points {
    height: 200px;
}

#goals-section {
    margin-bottom: 10px;
}

#points-in-turn {
    margin-left: 10px;
    margin-top: 20px;
}

#current-card {
    display: none;
}

#game, #goals-section, #points {
    width: 100%;
    max-width: 550px;
}

#coins {
    width: 100%;
    max-width: 550px;
    height: 75px;
}

label {
    margin-bottom: 5px;
}

#start, #leave, #goals {
    margin-top: 20px;
}

#goals-section {
    margin-top: 20px;
}

body > svg {
    display: block;
}

#current-card {
    margin-top: 20px;
}

#errors {
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit {
    margin-bottom: 10px;
}

#goals-section {
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
}
